
    .bloque1{
    background-color:transparent;
    align-items: center;
    max-width: 500px;
    height: auto;
    margin: auto;
    padding-bottom: 1rem;
    border-radius: 20px;
    background-size: cover;   
    
}
.map{
    width: 50%;
    
}
.bloque3{
    background-color:rgb(234, 247, 234);
    width: 100%;
    margin-top: 350px;
    height: auto;
    margin: auto;
    background-size: cover;
    padding-bottom: auto;
}
.contenedor2{
    width:100%;
    
    align-items: center;
    max-width: 1200px;
    display: flex;
    height: auto;
    justify-content: center;
    margin: auto;
}
    .parrafo{
        max-width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        color: black;
        font-size: 1.5rem;
        
}
    .bloque2{
        background-color: transparent;
        align-items: center;
        width: 100%;
        height: auto;
        margin: auto;
        padding-bottom: 10rem;
        background-size: cover;
}
.container-total{
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.container-baner{
    width: 100%;
    height: 100%;
    align-content:center;
}

.titulo{
    text-align: center;
    font-size: 40px;
    color: black;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}



    .container-platos{
    width: 100%;
    max-width: 1200px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

    .container-platos .card{
    background-color: white;
    width: 300px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

    .container-platos .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

    .container-platos .card img{
    width: 350px;
    height: 220px;
}


.container-platos .card h4{
    font-weight: 600;
}

.container-platos .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color:black;
}

.container-platos .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.baner{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/ayacucho/ayacucho.jpg);
    animation: banner 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerlima{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/lima/lima.jpg);
    animation: bannerlima 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banertumbes{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/tumbes/tumbes.jpg);
    animation: bannertumbes 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerica{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/ica/ica.jpg);
    animation: bannerica 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerarequipa{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/arequipa/arequipa.jpg);
    animation: bannerarequipa 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banercajamarca{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/cajamarca/cajamarca.jpg);
    animation: bannercajamarca 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banercusco{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/cusco/cusco.jpg);
    animation: bannercusco 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerhuancavelica{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/huancavelica/huancavelica.jpg);
    animation: bannerhuancavelica 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.baneramazonas{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/amazonas/amazonas.jpg);
    animation: banneramazonas 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerucayali{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/ucayali/ucayali.jpg);
    animation: bannerucayali 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banertarapoto{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/tarapoto/tarapoto.jpg);
    animation: bannertarapoto 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
.banerloreto{
    position: relative;
    width: 100%;
    height: 100%;
    background-color:gainsboro;
    background-size: cover;
    background-position: center;
    transition: all 0.1s ease-in-out;
    background-image: url(../assets/img-destinos/loreto/loreto.jpg);
    animation: bannerloreto 20s infinite linear;
    padding-top: 0rem;
    padding-bottom: 1000px;
    margin: 0 auto;
    left: 0;
    max-width: 1800px;
    background-size: cover;
}
@keyframes bannerloreto{
    0%{
        background-image: url(../assets/img-destinos/loreto/loreto.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/loreto/loreto.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/loreto/loreto2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/loreto/loreto2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/loreto/loreto3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/loreto/loreto3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/loreto/loreto4.jpeg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/loreto/loreto4.jpeg);
        background-size: cover;
    }
}
@keyframes bannertarapoto{
    0%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/tarapoto/tarapoto4.jpg);
        background-size: cover;
    }
}
@keyframes bannerucayali{
    0%{
        background-image: url(../assets/img-destinos/ucayali/ucayali.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/ucayali/ucayali.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/ucayali/ucayali2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/ucayali/ucayali2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/ucayali/ucayali3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/ucayali/ucayali3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/ucayali/ucayali4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/ucayali/ucayali4.jpg);
        background-size: cover;
    }
}
@keyframes banneramazonas{
    0%{
        background-image: url(../assets/img-destinos/amazonas/amazonas.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/amazonas/amazonas.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/amazonas/amazonas2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/amazonas/amazonas2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/amazonas/amazonas3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/amazonas/amazonas3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/amazonas/amazonas4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/amazonas/amazonas4.jpg);
        background-size: cover;
    }
}
@keyframes bannerhuancavelica{
    0%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/huancavelica/huancavelica4.jpg);
        background-size: cover;
    }
}
@keyframes bannercusco{
    0%{
        background-image: url(../assets/img-destinos/cusco/cusco.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/cusco/cusco.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/cusco/cusco2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/cusco/cusco2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/cusco/cusco3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/cusco/cusco3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/cusco/cusco4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/cusco/cusco4.jpg);
        background-size: cover;
    }
}
@keyframes bannercajamarca{
    0%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/cajamarca/cajamarca4.jpg);
        background-size: cover;
    }
}
@keyframes bannerarequipa{
    0%{
        background-image: url(../assets/img-destinos/arequipa/arequipa.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/arequipa/arequipa.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/arequipa/arequipa2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/arequipa/arequipa2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/arequipa/arequipa3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/arequipa/arequipa3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/arequipa/arequipa4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/arequipa/arequipa4.jpg);
        background-size: cover;
    }
}
@keyframes bannerica{
    0%{
        background-image: url(../assets/img-destinos/ica/ica.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/ica/ica.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/ica/ica2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/ica/ica2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/ica/ica3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/ica/ica3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/ica/ica4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/ica/ica4.jpg);
        background-size: cover;
    }
}
@keyframes bannertumbes{
    0%{
        background-image: url(../assets/img-destinos/tumbes/tumbes.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/tumbes/tumbes.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/tumbes/tumbes2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/tumbes/tumbes2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/tumbes/tumbes3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/tumbes/tumbes3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/tumbes/tumbes4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/tumbes/tumbes4.jpg);
        background-size: cover;
    }
}
@keyframes bannerlima{
    0%{
        background-image: url(../assets/img-destinos/lima/lima.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/lima/lima.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/lima/lima2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/lima/lima2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/lima/lima3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/lima/lima3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/lima/lima4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/lima/lima4.jpg);
        background-size: cover;
    }
}
@keyframes banner{
    0%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho.jpg);
        background-size: cover;
    }
    25%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho.jpg);
        background-size: cover;
    }

    26%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho2.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho2.jpg);
        background-size: cover;
    }

    51%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho3.jpg);
        background-size: cover;
    }
    75%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho3.jpg);
        background-size: cover;
    }

    76%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho4.jpg);
        background-size: cover;
    }
    100%{
        background-image: url(../assets/img-destinos/ayacucho/ayacucho4.jpg);
        background-size: cover;
    }
}
.contenedor2{
    width:100%;
    background-color: transparent;
    align-items: center;
    max-width: 1200px;
    display: flex;
    height: auto;
    justify-content: center;
    margin: auto;
}
.bodydark{
    background-color: rgb(47, 47, 47);
}
.bloque3dark{
    background-color: transparent;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 10rem;
    background-size: cover;
}
.titulodark{
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.cabezadark{
    margin-top: 0px;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
.parrafodark{
    max-width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        color: white;
        font-size: 1.5rem;
}
.container-platos .card p.dark{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    color:white;
}
button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    background: transparent;
    
    
}
button:hover{
    background-color: black;
    color: white;
}
.capa{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    left: 0;  
}
.switch{
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}
.switch span {
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
    background: none;
    color: #fff;
}
.switch::after{
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.219);
}
.switch.active{
    background: orange;
    color: #000;
}
.switch.active::after{
    right: 0;
    left: unset;
}
